<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2005-2017 by palladiosimulator.org
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated resourceenvironmentcloud -->
      <factory
            uri="http://palladiosimulator.org/PalladioComponentModel/5.2/Cloud/ResourceEnvironment"
            class="org.palladiosimulator.pcm.cloud.pcmcloud.resourceenvironmentcloud.provider.ResourceenvironmentcloudItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated resourceenvironmentcloud -->
      <factory
            uri="http://palladiosimulator.org/PalladioComponentModel/5.2/CloudProfile"
            class="org.palladiosimulator.pcm.cloud.pcmcloud.cloudprofile.provider.CloudprofileItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
