<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated resourceenvironmentcloud -->
      <package
            uri="http://palladiosimulator.org/PalladioComponentModel/5.1/Cloud/ResourceEnvironment"
            class="org.palladiosimulator.pcm.cloud.pcmcloud.resourceenvironmentcloud.ResourceenvironmentcloudPackage"
            genModel="model/resourceenvironmentcloud.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated resourceenvironmentcloud -->
      <parser
            type="resourceenvironment"
            class="org.palladiosimulator.pcm.cloud.pcmcloud.resourceenvironmentcloud.util.ResourceenvironmentcloudResourceFactoryImpl"/>
      <parser
            type="resourceenvironmentcloud"
            class="org.palladiosimulator.pcm.cloud.pcmcloud.resourceenvironmentcloud.util.ResourceenvironmentcloudResourceFactoryImpl"/>
   </extension>

</plugin>
